header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(252, 240, 236);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.konok{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
ul > li{
    margin-right: 30px;
    list-style: none; 
}
li > a{
    text-decoration: none;
    color: rgb(86, 86, 86);
    font-size: 20px;
}
span{
    color: rgb(254, 93, 0);
}
.btn{
    background-color: rgb(254, 93, 0);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.greetings{
    font-size: 45px;
    font-weight: 600;
    color: rgb(86, 86, 86);
}
.title{
    font-size: 85px;
    font-weight: bold;
}
.picture{
    width: 580px;
}
.description{
    font-size: 20px;
    color: rgb(86, 86, 86);
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.about{
    background-color: rgb(252, 240, 236);
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 100px;
}
.about-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-title{
    font-size: 20px;
    font-weight: bold;
}
