
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
header{
    height: 580px;
    width: 100%;
    background-image: url(images/developer 2.png);
    background-repeat: no-repeat;


}
header >nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
}
.konok{
    font-size: 45px;
    font-weight: 800;
}
header > nav> ul{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
ul > li{
    margin-right: 30px;
    list-style: none; 
    font-size: 20px;
}
li > a{
    text-decoration: none;
    color: rgb(86, 86, 86);
}
span{
    color: rgb(254, 93, 0);
}
.btn{
    background-color: rgb(254, 93, 0);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
}
.banner{
    display: flex;
    flex-direction: row;
}
.banner-content{
    height: 340px;
    width: 585px;
    margin-left: 150px ;
}
.greetings{
    font-size: 30px;
    font-weight: 600;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.picture{
    width: 350px;
    margin-left: 80px;
}