
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header >nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}
h3{
    font-size: 45px;
    font-weight: 800;
}
header > nav> ul{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
ul > li{
    margin-right: 30px;
    list-style: none; 
    font-size: 20px;
}
li > a{
    text-decoration: none;
    color: rgb(86, 86, 86);
}
span{
    color: rgb(254, 93, 0);
}
button{
    background-color: rgb(254, 93, 0);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
}